#game-container
{
	position: relative;
	margin-left: 10em;
}

#game-viewport
{
	width: 640px;
	height: 480px;
	border: 1px solid #000;
	/*cursor: url("cursor.png") crosshair;*/
}

#game-menu
{
	border: 1px solid #000;
	background-color: #fff;
	
	width: 200px;
	position: absolute;
	margin-left: 220px;
	top: 200px;
	display: none;
}

#game-menu input
{
	width: 100%;
	display: block;
}