body
{
	background-color: #000;
}

#game-container
{
	width: 640px;
	margin-top: 2em;
	position: relative;
	left: 50%;
	margin-left: -320px;
}

#viewport_helper
{
	position: absolute;
	width: 640px;
	height: 480px;
	border: 1px solid #ff0000;
}

#game-viewport
{
	/*width: 1800px;*/
	/*height: 800px;*/
	border: 1px solid #fff;
	background-color: #000;
	/*cursor: url("cursor.png") crosshair;*/
}

#game-menu
{
	border: 1px solid #000;
	background-color: #fff;
	
	width: 200px;
	position: absolute;
	margin-left: 220px;
	top: 200px;
	display: none;
}

#game-menu input
{
	width: 100%;
	display: block;
}